{% extends 'base.html.twig' %}

{% block title %}Edit Netgroup{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
            <h1 class="h3 mb-0 text-gray-800">Edit Netgroup</h1>
            <a href="{{ path('netgroup_index') }}"
               class="d-none d-sm-inline-block btn btn-sm btn-primary btn-icon-split shadow-sm"><span
                        class="icon text-white-50"><i
                            class="fas fa-arrow-alt-circle-left"></i></span><span class="text">Back to list</span></a>
        </div>
        {{ include('netgroup/_form.html.twig', {'form_title': 'Edit Netgroup', 'button_label': 'Update'}) }}
        {{ include('netgroup/_delete_form.html.twig') }}
    </div>
{% endblock %}
