{% extends 'base.html.twig' %}

{% block title %}New Netgroup{% endblock %}

{% block body %}
    <h1>Create new Netgroup</h1>

    {{ include('netgroup/_form.html.twig') }}

    <a href="{{ path('netgroup_index') }}">back to list</a>
{% endblock %}
